.cartCount {
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 40px;
}

.navLink {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
